<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam veniam nam odio? Molestiae rerum expedita, repellendus, voluptatum alias magni nihil et, voluptates quibusdam eum architecto minima iste sed nulla?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam veniam nam odio? Molestiae rerum expedita, repellendus, voluptatum alias magni nihil et, voluptates quibusdam eum architecto minima iste sed nulla?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam veniam nam odio? Molestiae rerum expedita, repellendus, voluptatum alias magni nihil et, voluptates quibusdam eum architecto minima iste sed nulla?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam veniam nam odio? Molestiae rerum expedita, repellendus, voluptatum alias magni nihil et, voluptates quibusdam eum architecto minima iste sed nulla?</p>
    </div>
</div>